n8n.json
{
  "name": "Curate Contributor-Friendly Issues with AI and Send GitHub Newsletter via Email copy",
  "nodes": [
    {
      "parameters": {},
      "id": "f0427aa1-48aa-487a-98ef-f42b5ea6bffe",
      "name": "When clicking ‘Execute workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        320,
        672
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "return {\n      owner: \"fastapi\",\n      name: \"fastapi\"\n  }"
      },
      "id": "ac914444-a804-4da0-b479-6282a656ec03",
      "name": "Load Repo Info",
      "type": "n8n-nodes-base.code",
      "position": [
        544,
        672
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "endpoint": "https://api.github.com/graphql",
        "query": "=\n    query {\n        repository(owner: \"{{ $json.owner }}\", name: \"{{ $json.name }}\") {\n            releases (first: 1, orderBy: { field: CREATED_AT, direction: DESC }) {\n                nodes {\n                    name\n                    description\n                    createdAt\n                }\n            }\n            issues(first: 10, states: OPEN, orderBy: { field: CREATED_AT, direction: DESC }) {\n                nodes {\n                    title\n                    url\n                    body\n                    author {\n                        ... on User {\n                            login\n                        }\n                    }\n                    issueType {\n                        name\n                    }\n                    labels(first: 5) {\n                        edges {\n                            node {\n                                name\n                            }\n                        }\n                    }\n                    comments(first: 10) {\n                        nodes {\n                            body\n                        }\n                    }\n                }\n            }\n        }\n    }\n",
        "variables": "="
      },
      "id": "a24e69e7-f24b-425f-8623-db39c8e81b3f",
      "name": "Get Issue From Github",
      "type": "n8n-nodes-base.graphql",
      "position": [
        768,
        672
      ],
      "typeVersion": 1.1,
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "httpHeaderAuth",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "issues",
        "options": {}
      },
      "id": "f0f10446-2ece-4015-8928-7ce70fbdab02",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        2288,
        864
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "const suitabilityOrder = { 'high': 0, 'medium': 1, 'low': 2 };\n  const sortedIssues = $input.first().json.output.issues.sort((a, b) => {\n      const suitabilityA = suitabilityOrder[a.issueSuitability.level];\n      const suitabilityB = suitabilityOrder[b.issueSuitability.level];\n      return suitabilityA - suitabilityB\n  }).slice(0, 3);\n\n  return {\n      \"issues\" : sortedIssues\n  }"
      },
      "id": "d9fead98-632b-4ede-b96f-d33969ae5a47",
      "name": "get Top Fit Issues",
      "type": "n8n-nodes-base.code",
      "position": [
        2064,
        672
      ],
      "executeOnce": false,
      "retryOnFail": false,
      "typeVersion": 2
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "issueURL",
              "field2": "issueURL"
            }
          ]
        },
        "options": {}
      },
      "id": "b4c4e831-93bb-46e4-b1c8-c3284135e11b",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        3072,
        864
      ],
      "executeOnce": false,
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "promptType": "=define",
        "text": "=\n    Generate a YAML object from the markdown list of issues and the release notes below.\n    \n    [ISSUES]\n\t\t{{ $('Get Issue From Github').item.json.data.repository.issues.toJsonString()  }}\n\n    [RELEASE]\n\t\t{{ $('Get Issue From Github').item.json.data.repository.releases.nodes[0].toJsonString()   }}\n",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {
          "systemMessage": "=\n\t\tYou are a 10-year experienced developer with extensive open-source contribution experience, looking to contribute to open source.\n\n    First, summarize the key changes from the latest release provided below.\n    The summary should be a minimum of one and a maximum of three lines, highlighting the most important updates for potential contributors.\n\n    Next, search the issues below, read their content, and classify them according to the criteria for good contribution opportunities.\n    The URL for the issues is https://github.com/{{ $('Load Repo Info').item.json.owner }}/{{ $('Load Repo Info').item.json.name }}/issues.\n    When classifying issues, evaluate them based on issue title, issue content, and how well they meet the criteria (high, medium, low).\n\n\t\tFinally, translate all user-facing output content into the target language into ko-KR.\n\t\tThis translation step should be applied after the issue analysis and classification are complete.\n\n    [Criteria for good contribution opportunities]\n    Issues with detailed and well-written content.\n    Issues where bug or error logs and reproduction steps are clearly specified within the content.\n    Issues where the location of suspicious source code has been identified by the reporter or maintainer.\n    Issues where the maintainer has confirmed the problem, set a direction, or requested contributions.\n    Issues directly created by the maintainer.\n    Issues with a \"good first issue\" label and no \"blocked\" or \"wait-for-triage\" labels.\n    Issues for which a PR has not yet been created (it's okay if someone has only stated they will create a PR).\n\n    For issues that meet the above criteria well, explain and emphasize them in detail.\n    There is no need to summarize issues that do not meet the above criteria.\n    \n    Generate a YAML object that matches the TypeScript type $RepoInfo below:\n\n\t\tRules:\n    - Wrap every YAML list item in double quotes. Escape only double quotes (\") inside the string with a backslash (\").\n    - From the issues that meet the criteria, provide a minimum of 3 and a maximum of 5 of the most suitable ones.\n\t\t- Provide a minimum of 2 and a maximum of 3 reasons within the\n  reasons list.\n    - Translate all user-facing string values within the YAML output into the language into ko-KR. Do not translate the YAML keys.\n\t\t\n    ------------\n\t\ttype translationLanguageCode = 'en' | 'ko' | 'ja' | 'zh' | 'es' | 'fr' | 'de' | 'ru' | 'ar' | 'pt'; \n    type Level = \"high\" | \"medium\" | \"low\";\n\n    interface LevelWithReasons {\n        level: Level;\n        reasons: string[];\n    }\n\n    interface Issue {\n        issueTitle: string;\n        issueURL: string;\n        issueDescription: string;\n        issueSuitability: LevelWithReasons;\n    }\n\n    interface LatestRelease {\n        name: string;\n        description: string;\n    }\n\n    interface RepoInfo {\n        latestRelease: LatestRelease;\n        issues: Issue[];\n    }\n\n    ------------\n    Example output:\n\t\ttranslationLanguageCode: \"...\"\n    latestRelease:\n      name: \"v1.2.0-beta.0\"\n      description: |\n        ...\n    issues:\n    - issueTitle: |\n      ...\n      issueURL: \"https://example.com\"\n      issueDescription: |\n      ...\n      issueSuitability:\n        level: \"medium\"\n        reasons:\n            - \"...\"\n"
        }
      },
      "id": "8cf96e11-8bae-4585-b12a-7e22b97c2ebd",
      "name": "IssueRank Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1472,
        672
      ],
      "retryOnFail": true,
      "typeVersion": 3,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "model": "={{ $('Get Free Models').item.json.issueRankFallbackModel }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "40fdea76-e2e2-4542-a5f1-6ea24d807b00",
      "name": "IssueRank Fallback Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "position": [
        1568,
        896
      ],
      "typeVersion": 1,
      "credentials": {
        "openRouterApi": {
          "id": "openRouterApi",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n\t\t\"translationLanguageCode\" : {\n      \"type\": \"string\",\n      \"enum\": [\"en\", \"ko\", \"ja\", \"zh\", \"es\", \"fr\", \"de\", \"ru\", \"ar\", \"pt\"]\n    },\n    \"latestRelease\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"name\": {\n          \"type\": \"string\"\n        },\n        \"description\": {\n          \"type\": \"string\"\n        }\n      },\n      \"required\": [\"name\", \"description\"]\n    },\n    \"issues\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"issueTitle\": {\n            \"type\": \"string\"\n          },\n          \"issueURL\": {\n            \"type\": \"string\",\n\t\t\t\t\t\t\"pattern\": \"^https://github\\\\.com/.+/issues/\\\\d+$\"\n          },\n          \"issueDescription\": {\n            \"type\": \"string\"\n          },\n          \"issueSuitability\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"level\": {\n                \"type\": \"string\",\n                \"enum\": [\"high\", \"medium\", \"low\"]\n              },\n              \"reasons\": {\n                \"type\": \"array\",\n                \"items\": {\n                  \"type\": \"string\"\n                }\n              }\n            },\n            \"required\": [\"level\", \"reasons\"]\n          }\n        },\n        \"required\": [\"issueTitle\", \"issueURL\", \"issueDescription\", \"issueSuitability\"]\n      }\n    }\n  },\n  \"required\": [\"translationLanguageCode\", \"latestRelease\", \"issues\"]\n}",
        "autoFix": true
      },
      "id": "55e40e4e-b5fd-4bdc-a202-c38df06d7bb0",
      "name": "IssueRank Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        1696,
        896
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "model": "={{ $('Get Free Models').item.json.issueRankParserModel }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "9f4536f4-a257-40c7-ac8a-139f20a23558",
      "name": "IssueRank Parser Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "position": [
        1776,
        1104
      ],
      "typeVersion": 1,
      "credentials": {
        "openRouterApi": {
          "id": "openRouterApi",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "=define",
        "text": "=\n\tI want you to create a newsletter title for the issue below.\n\n\t### Issue\n\t{{ $json.issues[0].toJsonString() }}\n\n\tOutput:\n",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {
          "systemMessage": "=\n\tYou are an AI assistant that creates a newsletter title based on a GitHub issue.\n\n\tRules:\n\t- Do not include markdown code blocks in the output. (e.g., do not use ```python... ```.)\n\t- Wrap every YAML list item in double quotes. Escape only double quotes (\") inside the string with a backslash (\").\n\t- Translate all user-facing string values within the YAML output into ko-KR. Do not translate the YAML keys.\n\n\tInstructions:\n\t1. Read the provided GitHub issue.\n\t2. Generate a short, catchy, and clickbait-style newsletter title.\n\t3. The title MUST meet the following criteria:\n\t\t- It must include a relevant emoji at the beginning.\n\t\t- It must be easily understandable for a non-technical audience.\n\t\t- It must be fun and intriguing to maximize open rates.\n\t4. Translate the final title into the language specified by ko-KR.\n\t5. Generate a single YAML object that matches the schema below.\n\n\t------------\n\ttype translationLanguageCode = 'en' | 'ko' | 'ja' | 'zh' | 'es' | 'fr' | 'de' | 'ru' | 'ar' | 'pt';\n\n\tinterface NewsletterTitle {\n\t\ttranslationLanguageCode: translationLanguageCode;\n\t\ttitle: string;\n\t}\n\n\tExample output (if target language is English):\n\ttranslationLanguageCode: \"en\"\n\ttitle: \"✨ Don't Miss Out! Your Weekly Dose of Awesome Insights.\"\n"
        }
      },
      "id": "f9906d77-01e6-4906-9486-1215bd0feb9b",
      "name": "Title Generator Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        2896,
        256
      ],
      "retryOnFail": true,
      "typeVersion": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "model": "={{ $('Get Free Models').item.json.titleGeneratorMainModel }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "a7f0e4d2-49c9-4fb1-99d0-e6ff71625d19",
      "name": "Title Generator Main Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "position": [
        2864,
        480
      ],
      "typeVersion": 1,
      "credentials": {
        "openRouterApi": {
          "id": "openRouterApi",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "={{ $('Get Free Models').item.json.titleGeneratorFallbackModel }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "8c44b955-7f11-4536-a43e-ce48d31dcb01",
      "name": "Title Generator Fallback Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "position": [
        2992,
        480
      ],
      "typeVersion": 1,
      "credentials": {
        "openRouterApi": {
          "id": "openRouterApi",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {},
      "id": "08bde729-c4da-4c99-946a-d0d1ffea17d4",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "position": [
        3488,
        672
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "content": "## Usecases\nReceive a periodic newsletter featuring curated, contributor-friendly issues from your favorite repositories.\n\nBy regularly reviewing active issues and new releases, you'll naturally develop stronger habits around open source contribution as your brain starts recognizing these projects as important.\n\n\n### How it works\n* Collects the latest issues, comments, and recent commits using the GitHub API\n* Uses an AI model to select up to three beginner-friendly issues worth contributing to\n* Summarizes each issue—including contribution guidance and relevance—based on Deepwiki MCP data\n* Converts the summary into HTML and delivers it as an email newsletter\n\n### Requirements\n* [Github Personal Access Token](https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/managing-your-personal-access-tokens#creating-a-fine-grained-personal-access-token)\n* [Openrouter API key](https://openrouter.ai/settings/keys)\n* [Google App Password](https://myaccount.google.com/apppasswords)\n* Verify that your target open-source project is indexed\nat https://deepwiki.com/{owner}/{repo} (e.g. https://deepwiki.com/vercel/next.js)\n\n### How to Use\n1. Update the \"Load repo info\" configuration with your target repository's owner and name (e.g., owner: `vercel`, repo: `next.js`)\n2. Add your GitHub Personal Access Token to the credentials of the \"Get Issues from GitHub\" node\n3. Connect your OpenRouter API key to all models linked to the Agent node\n4. Add your Google App Password to the \"Send email\" node credentials\n5. Enter the email address of the account authenticated with the Google App Password in both the \"to email\" and \"from email\" fields—the newsletter will be sent to that address\n\n### Customization\n* Modify the maximum number of contributor-friendly issues retrieved in the \"Get Top Fit Issues\" node\n* For improved results, adjust the models connected to the Agent node\n* Refine the criteria for \"contributor-friendliness\" in the \"IssueRank Agent\" node\n\n### Cron Setup\n- Replace the manual trigger with a Schedule Trigger node or another scheduling-capable node\n- If you don't have an n8n Cloud account, use this [alternative](https://github.com/dst03106/n8n-issue-collector?tab=readme-ov-file#%EF%B8%8F-how-to-use) instead: fork the repository and follow the setup instructions\nd follow the setup instructions.\n",
        "height": 928,
        "width": 736
      },
      "id": "a6e5bf4c-cd55-4898-bce5-86b36bfaf8c8",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -848,
        768
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 2-1. Generating a Newsletter Title\nCreates a newsletter title based on the issue content.",
        "height": 492,
        "width": 568,
        "color": 7
      },
      "id": "af2d0fef-f0fa-470b-8e68-81a6eda335a0",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2736,
        144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 2-2. Summarizing Contribution Details\nGenerates information about contribution methods and levels (such as contribution suitability and technical difficulty) using Deepwiki MCP.",
        "height": 716,
        "width": 920,
        "color": 7
      },
      "id": "1adc7dd3-6d4d-4751-8cee-18ed435e6ce4",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2064,
        640
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 3. Converting Issue Data to HTML and Sending via email\nConverts issue-related data into HTML format and sends it through email.",
        "height": 300,
        "width": 696,
        "color": 7
      },
      "id": "806d707a-ae5a-42cd-bf27-2ce346d2e8a3",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3648,
        528
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Newsletter\n![](https://lh3.googleusercontent.com/d/1iHWRiMm5mrWkA2r-t81Uzykqcss2Pl8G)",
        "height": 488,
        "width": 508
      },
      "id": "172e044c-6a6b-4bf5-89ac-4d46c0dce150",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Newsletter\n![](https://lh3.googleusercontent.com/d/1Pfdp4mttjAM9E7rV_y5qDbhgqmunECF_)",
        "height": 1064,
        "width": 444
      },
      "id": "9e93773e-6cd5-4d0d-9b7e-51033501671d",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        32,
        1856
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "https://openrouter.ai/api/v1/models",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openRouterApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "supported_parameters",
              "value": "structured_outputs,tools"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        992,
        672
      ],
      "id": "9e8d5bb6-9999-4756-a60c-64b0573406a2",
      "name": "HTTP Request",
      "credentials": {
        "openRouterApi": {
          "id": "openRouterApi",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "={{ $('Get Free Models').item.json.issueRankMainModel }}",
        "options": {
          "timeout": 60000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1440,
        896
      ],
      "id": "6240ae61-9e97-42fe-bab2-4f7a20538c74",
      "name": "IssueRank Main Model",
      "credentials": {
        "openRouterApi": {
          "id": "openRouterApi",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const requiredModelKeys = [\n\t\"issueRankMainModel\",\n\t\"issueRankFallbackModel\",\n\t\"issueRankParserModel\",\n\t\"titleGeneratorMainModel\",\n\t\"titleGeneratorFallbackModel\",\n\t\"titleGeneratorParserModel\",\n\t\"deepwikiMainModel\",\n\t\"deepwikiFallbackModel\",\n\t\"deepwikiParserModel\",\n]\nvar freeModels = [];\nvar requiredModels = {};\nfor (const item of $input.first().json.data) {\n\tif (item.pricing.prompt === \"0\" && item.pricing.completion === \"0\") {\n\t\tfreeModels.push(item)\n\t}\n}\nfreeModels.sort((a, b) => b.created - a.created)\nrequiredModelKeys.forEach((item, index) => {\n\trequiredModels[item] = freeModels[index % freeModels.length].id\n});\n\nreturn requiredModels"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        672
      ],
      "id": "45bb5dcf-0747-47d2-9992-c5c8a0c80c15",
      "name": "Get Free Models"
    },
    {
      "parameters": {
        "jsCode": "const mjml2html = require('mjml');\n  return {\n      htmlOutput: mjml2html($input.first().json.issueHTML)\n  }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3936,
        672
      ],
      "id": "36b2de08-ff2b-4728-8396-2d8ec9ad1520",
      "name": "convert MJML to HTML",
      "executeOnce": false
    },
    {
      "parameters": {
        "jsCode": "const createBulletedList = (items) => {\n      if (!Array.isArray(items) || items.length === 0) {\n          return '';\n      }\n      return items.map(item => `<mj-text mj-class=\"section-content\">• ${item}</mj-text>`).join('<br/>');\n  };\n  let latestRelease = `\n      <mj-section padding=\"15px\">\n          <mj-column border=\"3px solid #52af0f\">\n              <mj-text mj-class=\"section-title\">🚀 Latest Release (${$('IssueRank Agent').first().json.output.latestRelease.name})</mj-text>\n              <mj-text mj-class=\"section-content\">${$('IssueRank Agent').first().json.output.latestRelease.description}</mj-text>\n          </mj-column>\n      </mj-section>`;\n\n  let summary = `\n      <mj-section padding=\"15px\">\n          <mj-column border=\"3px solid #193404\">\n              <mj-text mj-class=\"section-title\">📌 Quick Summary</mj-text>\n              ${createBulletedList($('Merge').all().map(item => item.json.summary))}\n          </mj-column>\n      </mj-section>`;\n\n  let issues = [];\n\n  for (const issue of $('Merge').all()) {\n      let issueInfo = `<mj-text mj-class=\"issue-title\">${issue.json.issueTitle}</mj-text>\n                      <mj-spacer/>\n                      <mj-text mj-class=\"section-title\">🔑 Keywords</mj-text>\n                      <mj-text mj-class=\"section-content\">${issue.json.keyword.join(', ')}</mj-text>\n                      <mj-text mj-class=\"section-title\">🔄 Analogy</mj-text>\n                      <mj-text mj-class=\"section-content\">${issue.json.analogy}</mj-text>\n                      <mj-text mj-class=\"section-title\">🧾 Issue Description</mj-text>\n                      <mj-text mj-class=\"section-content\">${issue.json.issueDescription}</mj-text>\n                      <mj-text mj-class=\"section-title\">🧩 Root Cause</mj-text>\n                      <mj-text mj-class=\"section-content\">${issue.json.rootCause}</mj-text>`;\n      let resolutionApproach = `<mj-text mj-class=\"section-title\">🛠️ Resolution Approach</mj-text><mj-text font-size=\"14px\" line-height=\"1.6\">`;\n      resolutionApproach += createBulletedList(issue.json.resolutionApproach);\n      resolutionApproach += '</mj-text>';\n\n      \n      let issueSuitability = `<mj-text mj-class=\"section-title\">✅ Issue Suitability: ${issue.json.issueSuitability.level}</mj-text><mj-text font-size=\"14px\" line-height=\"1.6\">`\n      issueSuitability += createBulletedList(issue.json.issueSuitability.reasons);\n      issueSuitability += '</mj-text>';\n      \n      let technicalDifficulty = `<mj-text mj-class=\"section-title\">🧗 Technical Difficulty: ${issue.json.technicalDifficulty.level}</mj-text><mj-text font-size=\"14px\" line-height=\"1.6\">`\n      technicalDifficulty += createBulletedList(issue.json.technicalDifficulty.reasons);\n      technicalDifficulty += '</mj-text>';\n\n      let issuelink = `<mj-text mj-class=\"section-title\"><p>👉 Go to Issue <a href=\"${issue.json.issueURL}\">(Link)</a></p></mj-text>`;\n      let deepwikiLink = `<mj-text mj-class=\"section-title\"><p>🌀 Go to Deepwiki search result <a href=\"${issue.json.deepwikiLink}\">(Link)</a></p></mj-text>`;\n\n      issues.push(issueInfo + resolutionApproach + issueSuitability + technicalDifficulty + issuelink + deepwikiLink)\n  }\n\n  return {\n      issueHTML: `\n          <mjml>\n            <mj-head>\n                  <mj-attributes>\n                      <mj-class name=\"issue-title\" font-size=\"22px\" />\n                      <mj-class name=\"section-title\" font-size=\"15px\" font-weight=\"bold\"/>\n                      <mj-class name=\"section-content\" font-size=\"14px\" line-height=\"1.6\"/>\n                  </mj-attributes>\n              </mj-head>\n              <mj-body>\n                  <mj-section>\n                      <mj-column>\n                          <mj-image src=\"https://lh3.googleusercontent.com/d/1VYyXuiNQOnHCBELXh4_6ZDEoL30x7OQk\" width=\"1000\" height=\"150\"/>\n                      </mj-column>\n                  </mj-section>\n                  <mj-divider  border-width=\"1px\" border-color=\"#D3D3D3\"/> \n                  <mj-wrapper>\n                      ${latestRelease}\n                      ${summary}\n                      <mj-section>\n                          <mj-column>\n                              ${issues.join(`<mj-divider  border-width=\"1px\" border-color=\"#D3D3D3\"/>`)}\n                          </mj-column>\n                      </mj-section>\n                  </mj-wrapper>\n          </mj-body>\n          </mjml>`\n  }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3712,
        672
      ],
      "id": "de11b35d-7f55-41f4-a85b-30cac04f6529",
      "name": "convert MJML",
      "executeOnce": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "fromEmail": "",
        "toEmail": "",
        "subject": "=[Issue Report] {{ $('Load Repo Info').first().json.owner }}/{{ $('Load Repo Info').first().json.name }} - {{ $('Title Generator Agent').first().json.output.title }}",
        "html": "={{ $('convert MJML to HTML').item.json.htmlOutput.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        4160,
        672
      ],
      "id": "af3bd974-1a38-4016-866e-8564dbc654e0",
      "name": "Send email",
      "webhookId": "d1108327-f642-465e-81a5-bb8e25098f9f",
      "executeOnce": false,
      "credentials": {
        "smtp": {
          "id": "smtp",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"translationLanguageCode\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"enum\": [\"en\", \"ko\", \"ja\", \"zh\", \"es\", \"fr\", \"de\", \"ru\", \"ar\", \"pt\"]\n\t\t},\n\t\t\"title\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t},\n\t\"required\": [\n\t\t\"translationLanguageCode\",\n\t\t\"title\"\n\t]\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        3120,
        480
      ],
      "id": "214a4a6d-33fa-413d-baf1-8d544a771aef",
      "name": "Title Generator Structured Output Parser"
    },
    {
      "parameters": {
        "model": "={{ $('Get Free Models').item.json.titleGeneratorParserModel }}",
        "options": {
          "timeout": 60000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        3200,
        688
      ],
      "id": "ce24942d-3232-43f3-b9b9-68c3c53a07e9",
      "name": "Title Generator Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "openRouterApi",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "code": {
          "execute": {
            "code": "const { z } = require(\"zod\");\nconst { ChatOpenAI } = require(\"@langchain/openai\");\nconst { ChatPromptTemplate, PromptTemplate } = require(\"@langchain/core/prompts\");\nconst { createReactAgent } = require(\"@langchain/langgraph/prebuilt\");\nconst { StateGraph, START, END, Annotation, MessagesAnnotation, Send } = require(\"@langchain/langgraph\");\nconst { MultiServerMCPClient } = require(\"@langchain/mcp-adapters\");\nconst { HumanMessage, SystemMessage, AIMessage } = require(\"@langchain/core/messages\");\nconst { ToolNode } = require(\"@langchain/langgraph/prebuilt\");\n\nconst llmModel = await this.getInputConnectionData('ai_languageModel', 0);\nconst mcpClient = new MultiServerMCPClient({  \n    deepwiki: {\n        transport: \"http\",\n        url: \"https://mcp.deepwiki.com/mcp\",\n    },\n});\nconst tools = await mcpClient.getTools()\nconst askQuestionTool = tools.filter(t => t.name === \"ask_question\")[0];\n\nconst owner = $('Load Repo Info').item.json.owner;\nconst name = $('Load Repo Info').item.json.name;\nconst repoName = `${owner}/${name}`;\nconst issues = this.getInputData().map(input => input.json);\nconst issue = this.getInputData()[0].json;\n\nconst TechnicalDifficultySchema = z.object({\n  level: z.enum([\"High\", \"Medium\", \"Low\"]).describe(\"High | Medium | Low\"),\n  reasons: z.array(z.string()).describe(\"Reasons for the difficulty level\"),\n});\n\nconst IssueResponseSchema = z.object({\n  translationLanguageCode: z.enum([\"en\", \"ko\", \"ja\", \"zh\", \"es\", \"fr\", \"de\", \"ru\", \"ar\", \"pt\"]).describe(\"Language code like 'ko'\"),\n  deepwikiLink: z.string().regex(/^https:\\/\\/deepwiki\\.com\\/.*/, { message: \"Must start with https://deepwiki.com/\" }),\n  rootCause: z.string().describe(\"Root cause of the issue\"),\n  resolutionApproach: z.array(z.string()).describe(\"List of resolution approaches\"),\n  technicalDifficulty: TechnicalDifficultySchema.describe(\"Technical difficulty assessment\"),\n  summary: z.string().describe(\"One-sentence contribution summary\"),\n  keyword: z.array(z.string()).describe(\"1-5 relevant keywords\"),\n  analogy: z.string().describe(\"Simple analogy for issue and resolution\"),\n});\n\nconst userPrompt = `                              \n I have received a DeepWiki analysis for a GitHub issue:\n ### DeepWiki Analysis     \n {deepwikiResponse}\n                          \n Please process this DeepWiki analysis and extract structured information.        \n`;\n\nconst systemPrompt = `                              \n You are an AI assistant that processes DeepWiki GitHub issue analysis and extracts structured information.                                        \n                                                \n Your task:                                          \n 1. Analyze the provided DeepWiki response           \n 2. Extract the following information:               \n    - Root cause of the issue                        \n    - Resolution approaches (as array of strings)    \n    - Technical difficulty level (High/Medium/Low) with reasons                                 \n    - Brief summary of the contribution              \n    - Relevant keywords (1-5 keywords)               \n    - Simple analogy explaining the issue and resolution\n    \n Output requirements:                                \n - All content should be in ko-KR                         \n - Use the structured output schema that will be applied automatically\n - Focus on clarity and accuracy in extracted information\n `;\n      \nconst promptTemplate = ChatPromptTemplate.fromMessages([\n  [\"system\", systemPrompt],\n  [\"user\", userPrompt]\n]);\nconst agent = createReactAgent({ llm: llmModel, tools: [] });\nconst MessagesState = Annotation.Root({\n  ...MessagesAnnotation.spec,\n  deepwikiResponses: Annotation({\n    reducer: (current, update) => current.concat(update),  // Collect parallel results\n    default: () => [],\n  }),\n  finalAnswers: Annotation({\n    reducer: (current, update) => current.concat(update),  // Collect parallel results\n    default: () => [],\n  }),\n});\nconst workflow = new StateGraph(MessagesState)\n  .addNode(\"deepwikiTool\", async ({ issue }) => {\n    const toolCall = {\n      name: \"ask_question\",\n      args: {\n        repoName: repoName,\n        question: `Here is a GitHub issue.\n         Title: ${issue.issueTitle}\n         Body: ${issue.issueDescription}\n         How can this issue be resolved, what is its root cause, what is the recommended resolution approach, what is the technical difficulty, and what is a simple analogy for the issue and its resolution approach? Please provide the answer in ko-KR.`\n      },\n      id: `call_${Date.now()}`,  // unique ID\n      type: \"tool\"\n    };\n    const aiMessage = new AIMessage({\n      content: \"\",\n      tool_calls: [toolCall]\n    });\n    const result = await new ToolNode([askQuestionTool]).invoke({\n      messages: [aiMessage]\n    });\n    return { deepwikiResponses: [result.messages.at(-1)?.content] };\n  })\n  .addNode(\"reason\", async ({ deepwikiResponse }) => {\n    const structuredModel = llmModel.withStructuredOutput(IssueResponseSchema);\n    const reasonChain = promptTemplate.pipe(structuredModel);\n    const reasonResult = await reasonChain.invoke({ \n      deepwikiResponse: deepwikiResponse,\n    });\n    reasonResult.issueURL = issue.issueURL\n    const reasonMessage = new AIMessage({\n      content: JSON.stringify(reasonResult, null, 2)\n    });\n    return { finalAnswers: [reasonMessage] };\n  })\n  .addConditionalEdges(START, (state) => {\n    return issues.map((issue) => new Send(\"deepwikiTool\", { issue }));\n  })\n  .addConditionalEdges(\"deepwikiTool\", (state) => {\n    return state.deepwikiResponses.map((deepwikiResponse) => new Send(\"reason\", { deepwikiResponse }));\n  })\n  .addEdge(\"reason\", END)\n  .compile();\n\nconst result = await workflow.invoke({ messages: [] });\nconst aiMessages = result.finalAnswers;\nreturn aiMessages.map(input => JSON.parse(input.content));\n"
          }
        },
        "inputs": {
          "input": [
            {
              "type": "ai_languageModel",
              "maxConnections": 1,
              "required": true
            },
            {
              "type": "main",
              "maxConnections": 1,
              "required": true
            }
          ]
        },
        "outputs": {
          "output": [
            {
              "type": "main"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.code",
      "typeVersion": 1,
      "position": [
        2512,
        992
      ],
      "id": "e8f85c79-afb3-4921-a108-00060217b4ce",
      "name": "Deepwiki Langchain agent"
    },
    {
      "parameters": {
        "model": "={{ $('Get Free Models').item.json.deepwikiMainModel }}",
        "options": {
          "timeout": 50000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2592,
        1216
      ],
      "id": "b8ea9497-c86f-4072-9421-bfb1791e7dfb",
      "name": "Deepwiki Main Model",
      "credentials": {
        "openRouterApi": {
          "id": "openRouterApi",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Merge": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "convert MJML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Deepwiki Langchain agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Repo Info": {
      "main": [
        [
          {
            "node": "Get Issue From Github",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IssueRank Agent": {
      "main": [
        [
          {
            "node": "get Top Fit Issues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get Top Fit Issues": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          },
          {
            "node": "Title Generator Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Issue From Github": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Title Generator Agent": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IssueRank Parser Model": {
      "ai_languageModel": [
        [
          {
            "node": "IssueRank Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "IssueRank Fallback Model": {
      "ai_languageModel": [
        [
          {
            "node": "IssueRank Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Title Generator Main Model": {
      "ai_languageModel": [
        [
          {
            "node": "Title Generator Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Title Generator Fallback Model": {
      "ai_languageModel": [
        [
          {
            "node": "Title Generator Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "IssueRank Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "IssueRank Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Load Repo Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Get Free Models",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IssueRank Main Model": {
      "ai_languageModel": [
        [
          {
            "node": "IssueRank Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get Free Models": {
      "main": [
        [
          {
            "node": "IssueRank Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "convert MJML to HTML": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "convert MJML": {
      "main": [
        [
          {
            "node": "convert MJML to HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Title Generator Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Title Generator Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Title Generator Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Title Generator Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Deepwiki Langchain agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Deepwiki Main Model": {
      "ai_languageModel": [
        [
          {
            "node": "Deepwiki Langchain agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6be7f02f-d06d-450f-b64d-c4261f37bf3a",
  "meta": {
    "instanceId": "57a13954f4ed37a4193a2c26d525fd5349259869b863b1ee01d7592b5d74be96",
    "templateCredsSetupCompleted": true
  },
  "tags": []
}

